<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app1/css/style.css' %}"
    />
    {% endblock css %}
  </head>
  <body>
    <header>
      <h1>{% block heading %}{% endblock heading %}</h1>
    </header>

    {% include 'app1/navbar.html' %} {% block content %}{% endblock content %}
  </body>
</html>
